        * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        } 

        body {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100vh;
          margin: 0;
          background-color:#99CAE3 ;
          }
          
          .container {
          border: 2px solid white;
          border-radius: 10px;
          padding: 0;
          width: 22%;
          height: 88%;
          text-align: center;
          /* color: rgb(39, 194, 116); */
          display: flex;
          flex-direction: column;
          justify-content: baseline;
          }

          img {
            width: 100%;
            height: 105%;
            border-radius: 8px;
            }

          .icon-bar {
              padding-left: 12px; 
              padding-right: 12px; 
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              list-style-type: none;
              align-items: center;
           } 

           .icon-bar{
            bottom: 100vh;
           }

           .icon-bar a{
            font-size: 25px;
            /* height: 50px; */
            color: #bbc3e5;
           }

            .icon-bar a:hover {
              color: rgb(254, 255, 255);
            }

            #active{
              color: rgb(220, 202, 99);
            }
            

          
          


         